@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.textWrapper {
  display: block;
}

.text {
  font-family: $font-main;
  font-size: $base-size * 6;
  text-align: center;
  line-height: 1.6;
}