@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.root {
  position: fixed;
  display: block;
  padding-top: $base-size * 0.2;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  // background-color: inherit;
  background-image: linear-gradient(to right, $color-main-one , $color-dark);
  z-index: 100;
}

.navCol {
  margin: 0 $base-size * 0.2;
}