@import "../../../styles/settings.scss";

.default {
  display: flex;
  text-decoration: none;
  transition: $transition-fast;
  &:hover {
    transform: scale(0.95);
    transition: $transition-fast;
  }
}

.cartGlass {
  @extend .default;
  display: block;
}


.glass {
  display: inline-block;
  padding: $base-size * 1 0;
  box-shadow: $box-shadow-sm;
  font-family: $font-main;
  font-size: $base-size * 2;
  color: $color-white;
  text-decoration: none;
  text-align: center;
  transition: $transition-fast;
  &:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: $transition-fast;
  }
}

.small {
  @extend .glass;
  padding: $base-size * 0.5;
  font-size: $base-size * 1.4;
}

.big {
  @extend .glass;
  padding: $base-size * 1.2;
  font-size: $base-size * 2.6;
}

.nav {
  @extend .glass;
  padding: $base-size * 3.75 0;
}

.footer {
  @extend .nav;
  &:hover {
    transform: none;
  }
}

.glassFooter {
  @extend .glass;
  padding: $base-size * 2.8;
  background: inherit;
  border: none;
}

.overlay {
  box-shadow: none;
  border: none;
  background: inherit;
  &:hover {
    transform: none;
    cursor: auto;
  }
}

.hghFull {
  height: 100%;
}

.wdtFull {
  width: 100%;
}

// @media (max-width: 1200px) {
// }

// @media (max-width: 992px) {
// }

// @media (max-width: 768px) {
// }

// @media (max-width: 576px) {
// }