@import '../../../styles/settings.scss';

.root {
  h1 {
    font-size: $base-size * 11;
    font-weight: 600;
    span {
      padding-top: $base-size * 0.6;
      font-size: $base-size * 8;
      font-weight: 400;
      border-top: $base-size * 1.55 solid $color-white;
    }
  }
}

@media (max-width: 576px) {
  .root {
    h1 {
      font-size: $base-size * 7;
      span {
        padding-top: $base-size * 0.8;
        font-size: $base-size * 4.5;
        border-top: $base-size * 1.1 solid $color-white;
      }
    }
  }
}