@import "../../../styles/settings.scss";
@import '../../../styles/global.scss';

.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  display: block;
  margin: $base-size * 1 $base-size * 1.5;
  padding: $base-size * 2 $base-size * 3;
  height: 70px;
  width: 100%;
  box-shadow: $box-shadow-sm;
  font-family: $font-main;
  font-size: $base-size * 3;
  color: $color-white;
  text-align: center;
}
