@import "../../../styles/settings.scss";

.title {
  display: block;
  margin: $base-size * 1 $base-size * 1.5;
  padding: $base-size * 2 $base-size * 3;
  height: 70px;
  width: 100%;
  box-shadow: $box-shadow-sm;
  font-family: $font-main;
  font-size: $base-size * 3;
  color: $color-white;
  text-align: center;
}

@media (max-width: 1050px) {
  .cen1050 {
    justify-content: center;
  }
}