@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.buttonContent, .content, .blindContent {
  display: block;
  margin: $base-size * 1.5 $base-size * 2;
}

.blindContent {
  padding-top: $base-size * 1;
}

.buttonAmountContent {
  display: block;
  margin: $base-size * 1.95 $base-size * 2;
}

.product {
  display: block;
  margin: $base-size * 1.5 $base-size * 2;
  height: 200px;
}

.description {
  display: block;
  margin: $base-size * 1.5 $base-size * 2;
  height: 142px;
}
