@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.overlay {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.99;
  z-index: 1000;
  transform: scale(2);
}

.modal {
  position: absolute;
  display: block;
  height: 197px;
  width: 240px;
  top: calc(50% - 100px);
  left: calc(50% - 120px);
  background-image: linear-gradient(to right, $color-main-one , $color-dark);
  opacity: 1;
  z-index: 1001;
}
