@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.root {
  display: block;
  padding: $base-size * 5;
  height: 300px;
  width: 100%;
  border: 3px solid $color-main-two;
  background: repeating-linear-gradient(
    110deg,
    transparent,
    transparent 60px,
    $color-main-two 60px,
    $color-main-two 120px
  );
  z-index: 100;
}