@import '../../../styles/settings.scss';

.root {
  display: block;
  margin: $base-size * 0.2 auto;
  padding: $base-size * 4 $base-size * 1;
  box-shadow: $box-shadow-md;
  color: $color-white;
  text-align: center;
}

@media (max-width: 576px) {
  .root {
    padding: $base-size * 3 $base-size * 0 $base-size * 1;
    font-size: $base-size * 1;
  }
}