@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 72px;
  margin-left: $base-size * 0.5;
}

.iconWrapper {
  margin: $base-size * 0.15 $base-size * 0.5;
}
