@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.sectionContentWrapper {
  position: relative;
  flex: 1;
  height: 340px;
  max-width: 600px;
  margin: $base-size * 3 $base-size * 2;
  padding: $base-size * 2 0;
  background: repeating-linear-gradient(
  45deg,
  transparent,
  transparent 30px,
  $color-main-two 30px,
  $color-main-two 60px
);
  overflow: hidden;
  transition: $transition-slower;
  &:hover .sectionContent {
    opacity: 1;
    transition: $transition-mid;
  }
}

.sectionContent {
  position: relative;
  display: block;
  margin: $base-size * 1 $base-size * 3;
  height: 280px;
  width: calc(100% - $base-size * 5);
  box-shadow: $box-shadow-sm;
  opacity: 0;
  transition: $transition-slower;
  transition-delay: 10s;
  &:hover {
    transform: scale(0.95);
    transition: $transition-fast;
  }
}
