@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.cartContent {
  display: block;
  margin: $base-size * 1.5 $base-size * 2;
}

.cartContent2 {
  display: block;
  margin: $base-size * 1.95 $base-size * 2;
}

.cartProduct {
  display: block;
  margin: $base-size * 1.5 $base-size * 2;
  min-height: 175px;
}