@import '../../../styles/settings.scss';

@media (max-width: 992px) {
  .col {
    flex-direction: column !important;
  }
  
  .full {
    flex: 1;
  }
  
  .full:nth-of-type(1) {
    order: 2;
    margin-top: $base-size * 5;
  }
}
