@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.root {
  padding: $base-size * 2 0;
  height: 290px;
  width: 350px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.brick {
  display: block;
  margin: $base-size * 0.3;
  height: 80px;
  width: 80px;
  background-color: $color-black;
}

.dark {
  background-color: $color-dark;
}

.white {
  background-color: $color-white;
}