@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.summaryContent {
  display: block;
  margin: $base-size * 1.5 $base-size * 2;
}

.summaryElem {
  margin: $base-size * 1 0;
}

.summaryTot {
  margin: $base-size * 2 0 0;
}